﻿/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
/*  padding-top: 50px;
 font-family: Sans-Serif;
 margin-bottom: 60px;
  position: relative;*/

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
 font-family: Sans-Serif;

  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*padding-top: 30px;*/
  margin-bottom: 60px;
  overflow-x: hidden;
}

.mtop5 {
    margin-top: 5px;
}
.mtopn10 {
    margin-top: -10px;
}
.mtopn75 {
    margin-top: -75px;
}
.mtopn20 {
    margin-top: -20px;
}
.mtopn60 {
    margin-top: -60px;
}

.mtopn40 {
    margin-top: -40px;

}
body > .container {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  /*position: relative;*/
}



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


.logo {
  width: 120px;
}
/*.navbar-inverse .navbar-brand {
    color: #831183;
    line-height: 2.1em;
    background: #19A8CB;
}*/

.navbar-inverse {
    background-color: #19A8CB;
    border-color: #080808;
    line-height: 2.1em;

}


  @media (min-width: 768px) {
    .navbar-header {
      float: none;
  }
}

/*
 * Main content
 */

.main {
  /*padding: 20px;*/
  margin-top: -120px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}


nav #dash_menu {
background: url(../img/Header_Image.jpg);
border-bottom: 1px solid rgba(141, 17, 141, 0.34);
}


.main .page-header {
  margin: 0 0 10px;
    border-bottom: 0px solid #eee;
}


.bggrey {
  background: #AEAEAE !important;
}
.bgblue {
  background: #0F0E9A !important;
}
.center {
  text-align: center;
}
/*  Dashboard page style */

.grey {
  color: #AEAEAE;
}

.bgpurple {
  background: #8D118D;
}


/*Content style */

.titlename {
    text-decoration: underline;
    font-weight: bold;
margin-left: 40px;
}

.sub-title {
    margin-left: 40px;
}
.user-details {
    /*font-size: 14px;
    color: #0168B3;*/

    font-size: 14px;
    color: #0168B3;
    background: rgb(1, 62, 107);
    padding: 5px 10px;
    color: #FFFEFE;
    border-radius: 16%;
}

.user-details .user-name {
    color:#A2D6F5;
}

.user-details small {
    color: #fff;
}
#downloadlink {
    font-size: 12px;
}
#dashboard .icon-style {
  width: 60px;
  height: 60px;
  background: #19A8CB;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  /*margin-left: 20px;*/
  text-align: center;
    display: inline-block;

}

#dashboard .icon-style .fa{
  font-size: 40px;
  line-height: 60px;
  color: #FFF;

 }


  #dashboard .process .stepno {
 font-size: 11px;
    margin-top: 5px;
    display: inline-block;
    background: #0F0E9A;
    border-radius: 50px;
    padding: 1px 6px;
    color: #FFF;
    text-align: center;
 }

   #dashboard .process label {
 font-size: 15px;
 display: block;
 color: #000;

 }

    #dashboard #chart {
      width: 80px;
      height: 400px;
      background: url(../img/thermometer.png) no-repeat;
background-size: contain;
    }


  @media (min-width: 768px) {




.line1a {
position: relative;
    width: 178px;
    height: 78px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px #94C2DD;
    padding: 9px 2px;
    border-radius: 50%;
    margin: 30px 125px 0;
    -webkit-transform: rotate(-18deg);

    }


.line1a:after  {
 position: absolute;
    top: 50%;
    left: -7%;
    margin-top: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid rgba(236, 151, 31, 0);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(236, 154, 38, 0);
    border-top: 10px solid #94C2DD;
    -webkit-transform: rotate(27deg);
}


.line1b {
position: relative;
    width: 178px;
    height: 78px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px #94C2DD;
    padding: 9px 2px;
    border-radius: 57%;
    margin: 14px -82px 0;
    -webkit-transform: rotate(6deg);
    }


.line1b:after  {
 position: absolute;
    top: 50%;
    left: -7%;
    margin-top: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid rgba(236, 151, 31, 0);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(236, 154, 38, 0);
    border-top: 10px solid #94C2DD;
    -webkit-transform: rotate(27deg);
}


.line2a {
 width: 70px;
    height: 30px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px #94C2DD;
    padding: 21px 2px;
    border-radius: 90%;
    margin: 6px 50px 0;
    -webkit-transform: rotate(-91deg);

    }


.line2a:after  {
 position: absolute;
    top: 45%;
    left: -13%;
    margin-top: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid rgba(236, 151, 31, 0);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(236, 154, 38, 0);
    border-top: 10px solid #94C2DD;
    -webkit-transform: rotate(46deg);
}


.line2b {
width: 63px;
    height: 4px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px #94C2DD;
    padding: 21px 2px;
    border-radius: 90%;
        margin: 5px 113px 0;
    -webkit-transform: rotate(90deg);

    }


.line2b:after  {
position: absolute;
    top: 36%;
    left: -12%;
    margin-top: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid rgba(236, 151, 31, 0);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(236, 154, 38, 0);
    border-top: 10px solid #94C2DD;
    -webkit-transform: rotate(46deg);
}




.line3 {
position: relative;
    width: 176px;
    height: 70px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px #94C2DD;
    padding: 9px 2px;
    border-radius: 50%;
    margin: -14px 133px 0;
    -webkit-transform: rotate(204deg);

    }


.line3:after  {
 position: absolute;
    top: 50%;
    left: -7%;
    margin-top: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid rgba(236, 151, 31, 0);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(236, 154, 38, 0);
    border-top: 10px solid #94C2DD;
    -webkit-transform: rotate(27deg);
}



.line3b {
position: relative;
    width: 170px;
    height: 61px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px #94C2DD;
    padding: 9px 2px;
    border-radius: 50%;
    margin: 7px -83px 0;
    -webkit-transform: rotate(-197deg);

    }


.line3b:after  {
 position: absolute;
    top: 50%;
    left: -7%;
    margin-top: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid rgba(236, 151, 31, 0);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(236, 154, 38, 0);
    border-top: 10px solid #94C2DD;
    -webkit-transform: rotate(27deg);
}



.line4 {
    position: relative;
    width: 47px;
    height: -2px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dashed 2px #94C2DD;
    padding: 8px 2px;
    -webkit-transform: rotate(-90deg);
    margin-left: 110px;
    margin-top: 12px;

    }


.line4:after  {
position: absolute;
    top: 3%;
    left: -13%;
    margin-top: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid rgba(236, 151, 31, 0);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(236, 154, 38, 0);
    border-top: 10px solid #94C2DD;
    -webkit-transform: rotate(93deg);
}


}  /*end of media query*/



/* Stying for thermometer chart */



/* Stying for thermometer chart */


    body {
        /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    }

    .donation-meter {
        margin-left: 30px;
        width: 100px;
        /*margin-top: 60px;*/
    }

    .glass {
        background: #e5e5e5;
        border-radius: 100px 100px 0 0;
        display: block;
        height: 400px;
        margin: 0 35px 10px;
        /*padding: 5px;*/
        position: relative;
        width: 20px;
    }

    .amount {
        display: block;
        width: 20px;
        position: absolute;
        height: 7.5%;
    }

    strong {
        display: block;
        text-align: center;
    }

    .goal {
        font-size: 30px;
    }

    .total {
        font-size: 12px;
        position: absolute;
        right: 35px;
    }

    .bulb {
        background: #e5e5e5;
        border-radius: 100px;
        display: block;
        height: 50px;
        margin: 0 35px 10px;
        /*padding: 5px;*/
        position: relative;
        top: -20px;
        right: 15px;
        width: 50px;
    }

    .red-circle {
        background: #04B404;
        border-radius: 100px;
        display: block;
        height: 50px;
        width: 50px;
    }

    .filler {
        background: #04B404;
        border-radius: 100px 100px 0 0;
        display: block;
        height: 30px;
        width: 20px;
        position: relative;
        top: -65px;
        right: -15px;
        z-index: 30;
    }