figure {
    text-align: center;
}

figure#upload img {
width: 20%;
}

figcaption {
  font-size: 12px;
    color: #645959;
}


.allpad10 {
  padding: 10px;
}
.mtop10{
  margin-top: 10px;
}

.mtop60{
  margin-top: 60px !important;
}
.mtop20 {
  margin-top: 20px;
}


.mtop50 {
  margin-top: 50px;
}
.mtop70 {
  margin-top: 70px;
}
.info-icon {
  font-size: 12px;
    background-color: yellow;
    padding: 3px;
    border-radius: 50px;
}

.text-info {
   color:  #185E9C ;
}
.glyphicon.text-info {
   color: #1C97A4;
}


thead {
    background : #52CFD5;
}

th, tr, td {
    text-align: center;
}

.info-details p {
    text-align: justify;
}

.options-list {
    text-align: center;
    margin-left: 40%;
    margin-top: 2%;
}

 #secondarySales_filter    {
    float: right;
   }

     #secondarySales_filter input {
        margin-left: 18px;
   }
   #secondarySales_paginate {
    float:right;
   }

   #secondarySales {
    font-size: 12px;
    font-family: sans-serif;
   }

   #secondarySales  th{
    font-style: italic;
   }
 #secondarySales_wrapper label {
      font-weight: normal;
    }



 @media  (max-width : 768px)  {

/*body {
  background: green;
}*/
figure#upload img {
    width: 20%;
}


#secondarySales_filter {
    /*float: none;*/
}


 }



















            .mtop40 {
              margin-top: 40px;
            }









  ul.list li {
              display: block;
              margin-bottom: 5px;
            }
            .list img{
              width: 25px;
              margin-right: 5px;
            }
            .list .list-name {
              font-family: 'Arial Unicode MS';
              font-size: 12px;
            }


            /*  uploadMaster tab */
            div.uploadMaster-tab-container{
              z-index: 10;
              background-color: #ffffff;
              padding: 0 !important;
              border-radius: 4px;
              -moz-border-radius: 4px;
              /*border:1px solid #ddd;*/
              margin-top: 30px;
              /*margin-left: 50px;*/
              /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
              /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
              /*-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
              background-clip: padding-box;
              opacity: 0.97;
              filter: alpha(opacity=97);
              min-height:80vh;
            }
            div.uploadMaster-tab-menu{
              padding-right: 0;
              padding-left: 0;
              padding-bottom: 0;
            }
            div.uploadMaster-tab-menu div.list-group{
              margin-bottom: 10px;
            }
            div.uploadMaster-tab-menu div.list-group>a{
              text-align: left;
              margin-bottom: 0;
              font-size: 12px;
              padding-right: 4px;
            }
            div.uploadMaster-tab-menu div.list-group>a .glyphicon,
            div.uploadMaster-tab-menu div.list-group>a .fa {
              color: #000;
              padding-right: 20px;
            }
            div.uploadMaster-tab-menu div.list-group>a:first-child{
              border-top-right-radius: 0;
              -moz-border-top-right-radius: 0;
            }
            div.uploadMaster-tab-menu div.list-group>a:last-child{
              border-bottom-right-radius: 0;
              -moz-border-bottom-right-radius: 0;
            }


            div.uploadMaster-tab-menu div.list-group>a.active,
            div.uploadMaster-tab-menu div.list-group>a.active .glyphicon,
            div.uploadMaster-tab-menu div.list-group>a.active .fa{
                background-color: #1A9FC6!important;
    color: #ffffff;
    /*text-align: right;*/
    font-size: 10px;
    border: none;
    border-radius: 0px;
            }
            div.uploadMaster-tab-menu div.list-group>a.active:after{
           content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -28px;
    border-left: 0;
    border-bottom: 29px solid transparent;
    border-top: 29px solid transparent;
    border-left: 19px solid #1A9FC6;
 border-radius: 3px 2px 2px 3px;
            }
            div.uploadMaster-tab-content{
              background-color: #ffffff;
              /* border: 1px solid #eeeeee; */
              padding-left: 20px;
              /*padding-top: 10px;*/
            }
            div.uploadMaster-tab div.uploadMaster-tab-content:not(.active){
              display: none;
            }


section {
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}

.fa-arrow-circle-right {
    color: #1A9FC6;
}



/*        div.uploadMaster-tab-container div.list-group > a:nth-child(odd) {
            color: #FFF;
            background: #0168B3;
        }*/

/* styling for datatable*/
#uploadMasters1_filter, #uploadMasters2_filter, #uploadMasters3_filter {

    float: right;
}
#uploadMasters1_filter input, #uploadMasters2_filter input, #uploadMasters3_filter input {

    margin-left: 18px;
}
#tbcalculategsv_filter label {
    display: hidden;
}
#uploadMasters1_paginate ul.pagination, #uploadMasters2_paginate ul.pagination, #uploadMasters3_paginate ul.pagination {

    float: right;
}

.mtop30{
    margin-top: 30px;
}
            .side-menu-icon {
                height: 25px;
                margin-right: 10px;
            }

            div.list-group > a:first-child {
             /*  height: 52px;
    line-height: 28px;*/
            }

            .glass {
                margin: -53px 35px 10px;
            }

            .stepno {
                font-size: 10px;
                margin-top: 5px;
                display: inline-block;
                background: #0F0E9A;
                border-radius: 50px;
                padding: 1px 6px;
                color: #FFF;
                text-align: center;
            }
            .dotted {
                border: 1px grey dotted;
            }
            .info-details {
                font-size: 12px;
            }

            .uploadMaster-tab-container .list-group {
                margin-left: 20px;
            }

.uploadMaster-tab .intro {
}

.mtop60 {
    margin-top: 60px;
}




/* page css */


    .mtop5 {
        margin-top: 5px;
    }
    .menuIcon img {
        height: 20px; width: 30px;
    }
    .menuText {
        line-height: 1em;
        display:table;
    }
    .menuText p{
        display: table-cell;
        vertical-align: middle;
        font-size: 11px;
        padding-right: 12px;
    }
    .mbottom5 {
        margin-bottom: 5px;
    }
    div.list-group>a {
        text-align: left;
        margin-bottom: 0;
        font-size: 12px;
        padding-right: 4px;
    }
    div.list-group>a.active, div.list-group>a.active .glyphicon, div.list-group>a.active .fa {
        background-color: #1A9FC6!important;
        color: #ffffff;
        font-size: 10px;
        border: none;
        border-radius: 0px;
    }
    /* for tabs */
    .panel.with-nav-tabs .panel-heading{
        padding: 5px 5px 0 5px;
    }
    .panel.with-nav-tabs .nav-tabs{
        border-bottom: none;
    }
    .panel.with-nav-tabs .nav-justified{
        margin-bottom: -1px;
    }
    /*** PANEL INFO ***/
    .with-nav-tabs.panel-info .nav-tabs > li > a,
    .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
        color: #31708f;
    }
    .with-nav-tabs.panel-info .nav-tabs > .open > a,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
        color: #31708f;
        background-color: #bce8f1;
        border-color: transparent;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.active > a,
    .with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
        color: #31708f;
        background-color: #fff;
        border-color: #bce8f1;
        border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
        color: #31708f;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
        background-color: #bce8f1;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #31708f;
    }
    /********************************************************************/
    /* for tabs */